h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #22419c;
    color: white;
}

h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #8f95c7;
    color: white;
}

h5 {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 15px;
}

td:nth-child(1) {
    width: 350px;
}

table {
    margin-left: 15px;
    font-size:small;
}
.message {
    margin-left: 15px;
    font-size: small;
}
