<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="rvcaEntities" connectionString="metadata=res://*/EFDBModel.csdl|res://*/EFDBModel.ssdl|res://*/EFDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=S4B27210\SQLEXPRESS;initial catalog=rvca;persist security info=True;user id=rvca_news;password=RvcaNews123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
