
@{
    ViewBag.Title = "Investors";
}

<h2>Инвесторы</h2>

<form>

    <div class="col-md-4">
        <p>Название фонда</p>
        <input type="text" name="fond-name">
    </div>

    <div class="col-md-4">
        <p>Госучастие</p>
        <select name="Government">
            <option value=""></option>
            <option value="Частный">Частный</option>
            <option value="С госучастием">С госучастием</option>
            <option value="Неизвестно">Неизвестно</option>
        </select>
    </div>

    <div class="col-md-4">
        <p>PE/VC</p>
        <select name="pevc">
            <option value=""></option>
            <option value="VC">VC-фонд</option>
            <option value="PE">PE-фонд</option>
            <option value="PE">Неизвестно</option>
        </select>
    </div>
    <p><input type="submit"></p>
</form>

<script>

</script>

<table></table>

