
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<ul>
    <li>
        <a href="/admin/UpdateStat">Загрузить новую статистику</a>
    </li>
    <li>
        <a href="/admin/users">Список пользователей</a>
    </li>

    <li>
        <a href="/account/register">Добавить пользователя</a>
    </li>
    <li>
        <a href="/admin/test">Тестовая страница</a>
    </li>
</ul>




