@using RVCA_base2.Controllers
@using EFDataLayer
@model analytic

<table>
    <tr><td><h3>@Model.title</h3></td></tr>
    <tr>
        <td>
            @Html.Raw(Model.fullContent)
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
</table>